@model List<User>
@{
    List<User> users = ViewData["MessageCountDesc"] as List<User>;
    List<string> MostCommonPublic = ViewData["MostCommonPublic"] as List<string>;
    string ActiveHour = ViewData["ActiveHour"] as string;
}

<h1 style="align-content: center;">Message Logger v1.3</h1>
<h1 style="align-content: center;">Statistics</h1>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Total Messages</div>
    <div class="card-body">
        <p class="card-text">
            @foreach (var e in users)
            {
            <p><strong>@e.Username</strong>: @e.Messages.Count()</p>
            }</p>
    </div>
</div>

<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Most Common Words</div>
    <div class="card-body">
        <p class="card-text">
            @foreach (var e in MostCommonPublic)
            {
            <p>@e</p>
            }</p>
    </div>
</div>

<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Most Common Word For:</div>
    <div class="card-body">
        <h4 class="card-title">Please select a user</h4>
            @using (Html.BeginForm("Select", "Statistics", FormMethod.Post))
            {
            <select id="UserSelect" name="UserSelect">
                    @foreach (var e in Model)
                    {
                    <option>@e.Username</option>
                    }
            </select>
            <input type="submit" value="send" />
            }</p>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">The Most Active Hour (24hr time)</div>
    <div class="card-body">
        
        <p class="card-text">@ActiveHour</p>
    </div>
</div>

